version: '3'

services:
  rest:
    build:
      context: .
      dockerfile: ./Dockerfile

    environment:
      - DB_CONNECTION=postgres://postgres:postgres@db:5432/postgres
      - JWT_SECRET=secret

    ports:
      - 5000:5000

    depends_on:
      - db

  db:
    image: postgres:11.3-alpine

    volumes:
      - db_volume